.form-control {
  width: 40%;
  height: 70%;
  margin-right: 20px;
  margin-top: 10px;
}

.form-inline {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.complete-btn {
  background-color: rgb(25, 176, 25);
}
.complete-btn:hover {
  background-color: rgb(20, 132, 20);
}
.delete-btn {
  background-color: rgb(255, 63, 63);
}
.delete-btn:hover {
  background-color: rgb(211, 53, 53);
}