/* Common button styles for each specific button ID */
#adventure-button, #culture-button, #service-button, #growth-button {
  padding: 70px 200px; /* Increased padding for larger buttons */
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 32px; /* Increased font size for larger text */
  text-decoration: none;
  overflow: hidden;
  border-radius: 30px; /* Adjust border radius for proportion */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: relative;
  flex: 1; /* Makes all buttons take equal space */
  max-width: 100%;
  margin: 10px; /* Space around each button */
}

#adventure-button::before, #culture-button::before, #service-button::before, #growth-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: grayscale(0%);
  transition: filter 0.3s ease;
  z-index: -1;
  border-radius: 30px; /* Adjust border radius for proportion */
}

#adventure-button:hover::before, #culture-button:hover::before, #service-button:hover::before, #growth-button:hover::before {
  filter: grayscale(100%);
}

#adventure-button::before {
  background: url("../images/adventure.jpg") center/cover no-repeat;
}

#culture-button::before {
  background: url("../images/culture.jpg") center/cover no-repeat;
}

#service-button::before {
  background: url("../images/service.jpg") center/cover no-repeat;
}

#growth-button::before {
  background: url("../images/growth.jpg") center/cover no-repeat;
}

#adventure-button span, #culture-button span, #service-button span, #growth-button span {
  position: relative;
  z-index: 1;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.brigadeBtn {
  flex: 1;
  min-width: 200px; /* Ensure buttons don’t get too small */
  margin: 10px;
}
#service-button {
  font-size:27px
}
#growth-button {
  font-size:30px
}
