.navbar-collapse {
  padding: 10px 0;
}

.navbar-nav {
  margin: 0;
  padding: 10px;
  list-style-type: none;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  display: block;
  /* padding: 10px 15px; */
  text-decoration: none;
  color: #f2f2f2;
}

.nav-link.button {
  /* padding: 10px 20px; Adjust padding for the logout button */
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f2f2f2;
}
